.area-chart {
    flex-basis: 60%;
    flex-grow: 1;
    border-radius: 0;
    /* By default, ContainerCard has border-radius */
    box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
}

.responsive-content {
    height: 12rem;

    .responsive-container {
        overflow: hidden;
    }
}

.tooltip-card {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-small);
    border: 1px solid var(--dui-color-line-separator);
    background-color: var(--dui-color-background);
    padding: var(--dui-spacing-small);
}