.area-chart {
    flex-basis: 60%;
    flex-grow: 1;
    border-radius: 0;
    /* By default, ContainerCard has border-radius */
    box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
}

.responsive-content {
    height: 12rem;

    .responsive-container {
        overflow: hidden;
    }
}

.tooltip-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dui-color-separator);
    box-shadow: 0px 0px 4px var(--dui-card-box-shadow);
    background-color: var(--color-foreground);
    padding: var(--dui-spacing-small) var(--dui-spacing-medium);
    font-size: var(--dui-font-size-medium);
    gap: 0;

    .tooltip-heading {
        font-weight: var(--dui-font-weight-bold);
    }
    .tooltip-content {
        color: var(--dui-color-description);
        font-size: var(--dui-font-size-small);
    }
}

.heading-content {
    font-weight: var(--dui-font-weight-light);
}
