.pie-chart-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;

    .pie-chart-header {
        align-self: center;
        padding-top: var(--dui-spacing-small);
        font-size: small;
    }

    .pie-chart-holder {
        border-bottom: 1px solid var(--dui-color-progress-alt);
        background-color: #ffffff;
    }

    .responsive-container {
        min-height: 7rem;
        overflow: hidden;
    }
}