.combined-indicator-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--dui-spacing-extra-large);

    .thematic-container {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);

        .thematic-header {
            background-color: transparent;
            gap: 0;
        }

    }

    .source-heading {
        display: flex;
        justify-content: space-between;
        margin-top: var(--dui-spacing-medium);
        padding: var(--dui-spacing-medium) 0px;
        width: 40vw;
        font-size: var(--dui-font-size-heading-small);
        font-weight: var(--dui-font-weight-bold);
        gap: var(--dui-spacing-small);
    }

    .sources {
        display: flex;
        flex-direction: column;
        width: 40vw;
        gap: var(--dui-spacing-small);
    }
}
