.dashboard-navigation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-background);
    padding: 0 var(--dui-spacing-ultra-large);
    gap: var(--dui-spacing-medium);

    .dashboard-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--dui-spacing-medium) var(--dui-spacing-extra-small);
        gap: var(--dui-spacing-medium);
    }

    .button {
        border-radius: var(--dui-border-radius-button);
        background-color: var(--dui-tab-background-color);
        color: white;
    }

    .dashboard-tab-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border: var(--width-separator-thin) solid var(--color-separator);
        border-radius: var(--dui-border-radius-progress-bar);

        .default-tab-mode {
            padding: var(--dui-spacing-small) var(--dui-spacing-large);
        }

        .active-tab {
            background-color: var(--dui-tab-background-color);
            color: white;

            &:hover {
                background-color: var(--dui-tab-background-color);
            }
        }
    }

    .content {
        position: relative;
    }
}