.sources {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 40vw;
    gap: var(--dui-spacing-extra-small);
}

.no-sources {
    color: var(--dui-color-text);
}
