.thematic-filter-section {
    border: 1px solid var(--dui-color-separator);
    border-radius: var(--dui-border-radius-card);
    background-color: var(--dui-color-background);
    gap: var(--dui-spacing-large);

    .advanced-filters {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: var(--dui-spacing-large);
        gap: var(--dui-spacing-large);

        .filter {
            flex-shrink: 0;
        }

        .clear-button {
            justify-self: flex-end;
            flex-shrink: 0;
        }
    }

    .chip-component {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: var(--dui-spacing-large);
        gap: var(--dui-spacing-large);

        .chip-filter-header {
            color: var(--color);
            font-size: var(--dui-font-size-small);
            font-weight: var(--dui-font-weight-bold);
        }

        .chip-collection {
            display: flex;
            flex-wrap: wrap;
            gap: var(--dui-spacing-medium);

            .chip-action-buttons {
                padding: var(--dui-spacing-extra-small);
            }

        }
    }

}