.table-wrapper {
    display: flex;

    .each-table-cell {
        border-right: 1px solid var(--dui-color-line-separator);
        padding: 0;

        .cell {
            padding: var(--dui-spacing-small);
            text-align: left;

            &.high-indicator {
                color: blue;
            }
        }
    }

    .header-row-style {
        border-right: 1px solid var(--dui-color-line-separator);
        background-color: var(--dui-column-background);
    }
}

.country-list-header-cell {
    background-color: var(--dui-column-background);
    padding: var(--dui-spacing-medium) !important;
}

.search-column-cell {
    padding: var(--dui-spacing-medium);
    font-weight: bold;
}
