.table-wrapper {
    display: flex;

    .each-table-cell {
        border-right: 1px solid var(--dui-color-line-separator);
    }

    .header-row-style {
        border-right: 1px solid var(--dui-color-line-separator);
        background-color: var(--dui-column-background);
    }
}

.country-list-header-cell {
    background-color: var(--dui-column-background);
    padding: var(--dui-spacing-medium) !important;
}

.search-column-cell {
    font-weight: bold;
}

.default-indicator {
    background-color: none;
}

.high-indicator {
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    color: blue;
}