.card-info {
    display: flex;
    gap: var(--dui-spacing-large);

    .heading-content {
        font-weight: bold;
    }

    .global-stat-card {
        flex-basis: 20%;
        border-radius: 0;
        /* By default, ContainerCard has border-radius */
        box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
    }

    .trends-card {
        flex-basis: calc(45% - var(--dui-spacing-small));
        border-radius: 0;
        /* By default, ContainerCard has border-radius */
        box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
    }

    .regions-card {
        flex-basis: calc(55% - var(--dui-spacing-small));
        border-radius: 0;
        /* By default, ContainerCard has border-radius */
        box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
    }

    .responsive-content {
        min-height: 10rem;

        .responsive-container {
            overflow: hidden;
        }
    }

    .outbreak-legend-title-name {
        color: var(--color-outbreak-title-name);
        font-size: var(--dui-font-size-medium);
    }
}
