.topic-card {
    background-color: var(--dui-color-background);

    .topic-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--dui-spacing-super-large);

        .indicator-item {
            flex-basis: 30%;
            /* border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-line-separator); */
        }
    }
}
