.overview-main {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-large);
    padding-bottom: var(--dui-spacing-medium);

    .map-container {
        flex-grow: 1;
        border: var(--width-separator-medium) solid var(--color-separator-light);
        border-radius: var(--dui-border-radius-card);
        padding: var(--dui-spacing-ultra-small);
    }
}