.progress-info {
    display: flex;
    flex-direction: column;
    border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-line-separator);
    padding: var(--dui-spacing-small) 0;

    .progress-title {
        display: flex;
        align-items: center;
        gap: var(--dui-spacing-small);
    }

    .progress-value-wrapper {
        display: flex;
        align-items: center;
        line-height: 1;
        gap: var(--dui-spacing-medium);

        .progress-bar-wrapper {
            display: flex;
            flex-grow: 1;
            border-radius: 20px;
            background-color: var(--dui-color-background-progress-bar-light);

            .progress-bar-style {
                &:first-of-type {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                &:last-of-type {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }

        .progress-value {
            font-size: var(--dui-font-size-small);
        }
    }

    .regional-value {
        align-self: end;
        color: var(--color-text-title);
        font-size: var(--dui-font-size-extra-small);
    }

}