.country-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-large);

    .country-main {
        display: flex;
        gap: var(--dui-spacing-large);

        .country-detail-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-wrap: wrap;
            gap: var(--dui-spacing-large);

            .status-card-container {
                border-radius: 0;
                /* By default, ContainerCard has border-radius */
                background-color: var(--color-background);
                padding: 0;

                .status-container {
                    display: flex;
                    flex-wrap: wrap-reverse;
                    gap: var(--dui-spacing-large);

                    .info-cards {
                        display: flex;
                        flex-wrap: wrap-reverse;
                        gap: var(--dui-spacing-large);
                    }

                    .readiness-list-card {
                        display: flex;
                        flex-grow: 1;
                        flex-wrap: wrap;
                        box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
                        background-color: var(--dui-color-foreground);
                        padding: var(--dui-spacing-medium);
                        gap: var(--dui-spacing-medium);
                    }
                }
            }

            .country-trend {
                border-radius: 0;
                /* By default, ContainerCard has border-radius */
                box-shadow: 0px 0px 10px var(--dui-card-box-shadow);

                .responsive-content {
                    min-height: 20rem;

                    .responsive-container {
                        overflow: hidden;
                    }
                }
            }

            .indicator-wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-large);

                .percentage-card {
                    flex-basis: calc(45% - var(--dui-spacing-large));
                    flex-grow: 1;
                    gap: var(--dui-spacing-mega-large);
                }

                .indicators-chart {
                    flex-basis: calc(55% - var(--dui-spacing-small));
                    box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
                }

                .gender-disaggregation {
                    flex-basis: calc(45% - var(--dui-spacing-large));
                    flex-grow: 1;
                    border-radius: 0;
                    /* By default, ContainerCard has border-radius */
                    box-shadow: 0px 0px 10px var(--dui-card-box-shadow);

                    .heading {
                        font-weight: var(--dui-font-weight-normal);
                    }

                    .gender-disaggregation-content {
                        display: flex;
                        gap: var(--dui-spacing-large);

                        .gender-disaggregation {
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;
                            min-height: 22rem;
                            overflow: hidden;

                        }
                    }
                }

                .age-disaggregation {
                    flex-basis: calc(55% - var(--dui-spacing-small));
                    flex-grow: 1;
                    border-radius: 0;
                    /* By default, ContainerCard has border-radius */
                    box-shadow: 0px 0px 10px var(--dui-card-box-shadow);

                    .age-disaggregation-content {
                        display: flex;
                        gap: var(--dui-spacing-large);

                        .age-disaggregation {
                            display: flex;
                            flex-direction: column;
                            min-height: 22rem;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .country-info {
            border-radius: 0;
            /* By default, ContainerCard has border-radius */
            box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
            background-color: var(--dui-color-foreground);
            min-width: var(--dui-width-min-modal);

            .country-avatar {
                img {
                    border-radius: var(--dui-border-radius-avatar);
                    background: var(--color-background);
                    width: 64px;
                    height: 64px;
                    text-align: center;
                }
            }

            .country-header {
                align-items: center;
            }

            .country-heading {
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }

            .country-details {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-medium);

                .country-text-output {
                    align-items: center;
                    justify-content: space-between;
                    height: 4rem;
                    font-size: var(--dui-font-size-medium);

                    .labelText {
                        width: 10rem;
                    }

                    .value-text {
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                        font-weight: var(--dui-font-weight-light);

                        .regional-text {
                            color: var(--color-text-secondary);
                            font-size: var(--dui-font-size-small);
                            font-weight: var(--dui-font-weight-light);
                        }
                    }

                    &:not(:last-child) {
                        border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-line-separator);
                    }
                }
            }
        }
    }

    .sources {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-small);
        max-width: 50rem;
    }
}
