.country-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-extra-large);

    .country-main {
        display: flex;
        gap: var(--dui-spacing-large);

        .country-detail-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-wrap: wrap;
            gap: var(--dui-spacing-large);

            .status-card-container {
                border-radius: 0;
                /* By default, ContainerCard has border-radius */
                background-color: var(--color-background);
                padding: 0;

                .status-container {
                    display: flex;
                    flex-wrap: wrap-reverse;
                    gap: var(--dui-spacing-large);

                    .info-cards {
                        display: flex;
                        gap: var(--dui-spacing-large);
                    }

                    .readinessListCard {
                        display: flex;
                        flex-grow: 1;
                        box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
                        background-color: var(--color-background-alt);
                        padding: var(--dui-spacing-medium);
                        gap: var(--dui-spacing-medium);
                    }
                }
            }

            .country-trend {
                border-radius: 0;
                /* By default, ContainerCard has border-radius */
                box-shadow: 0px 0px 10px var(--dui-card-box-shadow);

                .responsive-content {
                    min-height: 20rem;

                    .responsive-container {
                        overflow: hidden;
                    }
                }
            }

            .indicator-wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-large);

                .percentage-card {
                    flex-basis: calc(45% - var(--dui-spacing-large));
                    flex-grow: 1;
                    gap: var(--dui-spacing-mega-large);
                }

                .indicators-chart {
                    flex-basis: calc(55% - var(--dui-spacing-small));
                    box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
                }

                .gender-disaggregation {
                    flex-basis: calc(45% - var(--dui-spacing-large));
                    flex-grow: 1;
                    border-radius: 0;
                    /* By default, ContainerCard has border-radius */
                    box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
                }

                .age-disaggregation {
                    flex-basis: calc(55% - var(--dui-spacing-small));
                    border-radius: 0;
                    /* By default, ContainerCard has border-radius */
                    box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
                }

                .responsive-content {
                    min-height: 22rem;

                    .responsive-container {
                        overflow: hidden;

                        .legend-list {
                            display: flex;
                            border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-line-separator);
                            padding: var(--dui-spacing-small);
                            gap: var(--dui-spacing-medium);
                            list-style: none;

                            .legend-box {
                                padding: var(--dui-spacing-extra-small);
                            }

                            .legend-details {
                                display: flex;
                                align-items: baseline;
                                flex-direction: column;

                                .regional-text {
                                    color: var(--color-text-secondary);
                                    font-size: var(--dui-font-size-small);
                                }
                            }

                        }
                    }
                }

            }
        }

        .country-info {
            border-radius: 0;
            /* By default, ContainerCard has border-radius */
            box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
            background-color: var(--dui-color-foreground);
            min-width: var(--dui-width-min-modal);

            .country-avatar {
                img {
                    border: var(--width-separator-thin) solid var(--color-separator-light);
                    border-radius: var(--dui-border-radius-avatar);
                }
            }

            .country-header {
                align-items: center;
            }

            .country-heading {
                align-items: end;
            }

            .country-details {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-medium);

                .country-text-output {
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-line-separator);
                    height: 4rem;
                    font-size: var(--dui-font-size-medium);

                    .labelText {
                        width: 10rem;
                    }

                    .value-text {
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                        font-weight: var(--dui-font-weight-light);

                        .regional-text {
                            color: var(--color-text-secondary);
                            font-size: var(--dui-font-size-small);
                        }
                    }
                }
            }
        }
    }


    .perception-wrapper {
        display: flex;
        flex-direction: column;
        padding: var(--dui-spacing-medium);

        .perception-card {
            width: 20rem;

            p {
                padding-left: var(--dui-spacing-small);
            }
        }
    }
}