.map-modal {
    min-height: 16rem;

    .chart-container {
        width: 98%;
        height: 26rem;
        overflow: hidden;
    }

    .sources {
        width: 100%;
    }
}

.modal-description {
    display: flex;
    align-items: baseline;
    gap: var(--dui-spacing-large);

    .country-case-data {
        color: var(--color-text-title);
        font-weight: var(--dui-font-weight-light);
    }

    .country-survey-date {
        color: var(--dui-color-watermark);
        font-weight: var(--dui-font-weight-light);
    }
}
