.responsive-content {
    min-height: 16rem;
    overflow: hidden !important;

    .responsive-container {
        overflow: hidden;
    }
}

.modal-description {
    display: flex;
    align-items: baseline;
    gap: var(--dui-spacing-large);

    .country-case-data {
        color: var(--color-text-title);
        font-weight: var(--dui-font-weight-light);
    }

    .country-survey-date {
        color: var(--dui-color-watermark);
        font-weight: var(--dui-font-weight-light);
    }
}

.perception-card {
    display: flex;
    justify-content: space-between;

    .info-icon {
        color: var(--color-text-title);
        font-size: var(--dui-font-size-extra-large);
    }

}