.card-info {
    display: flex;
    gap: var(--dui-spacing-large);
    overflow: auto;

    .heading-content {
        font-weight: normal;
    }

    .global-stat-card {
        flex-basis: 40%;
        flex-shrink: 0;
        border-radius: 0;
        /* By default, ContainerCard has border-radius */
        box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
    }

    .regions-pie-chart {
        flex-grow: 1;
        border-radius: 0;
        /* By default, ContainerCard has border-radius */
        box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
    }

    .responsive-content {
        overflow: unset;

        .pie-chart-collection {
            display: flex;
        }

        .responsive-container {
            min-height: 10rem !important;
            overflow: hidden;
        }
    }

    .tooltip-card {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--dui-color-separator);
        box-shadow: 0px 0px 4px var(--dui-card-box-shadow);
        background-color: var(--color-foreground);
        padding: var(--dui-spacing-small) var(--dui-spacing-medium);
        font-size: var(--dui-font-size-medium);
        gap: 0;

        .tooltip-heading {
            font-weight: var(--dui-font-weight-bold);
        }

        .tooltip-content {
            color: var(--dui-color-description);
            font-size: var(--dui-font-size-small);
        }
    }
}

.breakdown-label-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: var(--dui-spacing-medium);

    .breakdown-label {
        display: flex;
        gap: var(--dui-spacing-small);
        align-items: center;

        .label-name {
            font-size: var(--dui-font-size-medium);
        }
    }
}