.card-info {
    display: flex;
    gap: var(--dui-spacing-large);
    overflow: auto;

    .global-stat-card {
        flex-basis: 40%;
        flex-shrink: 0;
        border-radius: 0;
        /* By default, ContainerCard has border-radius */
        box-shadow: 0px 0px 10px var(--dui-card-box-shadow);
    }


    .regions-pie-chart {
        flex-grow: 1;
        border-radius: 0;
        /* By default, ContainerCard has border-radius */
        box-shadow: 0px 0px 10px var(--dui-card-box-shadow);

        .pie-chart-collection {
            display: flex;
        }
    }

    .responsive-content {
        overflow: auto;

        .responsive-container {
            min-height: 10rem !important;
            overflow: hidden;
        }
    }
}

.breakdown-label-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: var(--dui-spacing-medium);

    .breakdown-label {
        display: flex;
        gap: var(--dui-spacing-small);
        align-items: center;

        .label-name {
            font-size: var(--dui-font-size-medium);
        }
    }

}